<!--The content below is only a placeholder and can be replaced.-->
<div  style="margin: 10px auto; text-align: center;">
	<h1>VR Maps</h1>
	<div id="psv" style="width: 80%; margin: 0px auto">
		
	</div>
	<br>
	<div class="container">
		<h4><strong>Current pano </strong> {{id}}</h4>
		<div class="row my-3">
			<div class="col-md-6 border border-dark py-3" id="path">
				<h2>Get Path</h2>
				<div class="text-left">
					Source:
					<input class="m-2" type="text" placeholder="Source node" id="src" [(value)]="id" />
					<br> Destination:
					<input class="m-2" type="text" placeholder="Destination node" id="dest" />
					<br>
					<button class="btn" (click)="getPath()">Show Path</button>
					<button class="btn" (click)="clearPath()">Clear Path</button>
					<div class=" text-muted"></div>
				</div>
			</div>
			<div class="col-md-6 border border-dark py-3" id="pano">
				<h2>Go To</h2>
				<div class="text-left">
					Location:
					<ng2-completer [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="2" (selected)="itemSelected($event)"></ng2-completer>
					<br> 
					<button class="btn" (click)="viewPano()">View Pano</button>
					<div class=" text-muted"></div>
				</div>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-md-6 border border-dark" id="m2p">
				<h2>Add marker to pano</h2>
				<div class="text-left">
					Image ID:
					<input class="m-2" type="text" placeholder="Image ID" id="image_id" />
					<br> Latitude:
					<input class="m-2" type="text" placeholder="" id="lat" />
					<br> Longitude:
					<input class="m-2" type="text" placeholder="" id="long" />
					<br>
					<button class="my-2 btn" (click)='addMarkerToPano()'>Add to Pano</button>
					<div class=" text-muted"></div>
				</div>
			</div>
			<div class="col-md-6 border border-dark" id="m2db">
				<h2>Add marker</h2>
				<div class="text-left">
					Marker ID:
					<input class="m-2" type="text" placeholder="Marker ID" id="image_id" value="pano1"/>
					<br> Tooltip Content:
					<input class="m-2" type="text" placeholder="Tooltip content" id="tooltip" value="615 front door"/>
					<br>
					<button class="my-2 btn" (click)='addMarker()'>Add to DB</button>
					<div class=" text-muted"></div>
				</div>
			</div>
		</div>
	</div>
</div>